extends base

block content
  .report-container
    h2.heading-secondary.ma-bt-md Manage roles for all users in your account
    table.report-table
        thead
          tr
            th Sr. No.
            th User Id  
            th Username 
            th Email
            th Role
        tbody
          each rl, index  in roles
            tr
              td= index + 1
              td = rl.user_id
              td= rl.username
              td= rl.email
              td.role--select
                select(name='role' data-user-id=rl.user_id)
                  option(value='admin' selected=rl.role === 'admin') Admin
                  option(value='user' selected=rl.role === 'user') User